<div class="container mt-3">
  
  <div>
    <span>Name: </span>
    <span>{{ product?.Name }}</span>
  </div>
  <div>
    <span>Brand Name: </span>
    <span>{{ product?.BrandName }}</span>
  </div>

  
</div>
<ng-template #FirstLogin>
  <div class="modal-header">
    <div class="modal-header-title">خرید محصول</div>
    <div mat-dialog-close class="modal-header-icon">
      <i class="material-icons">close</i>
    </div>
  </div>
  <div class="modal-body" style="margin-top: 15px; margin-bottom: 15px">
    کاربر عزیز برای اضافه به سبد خرید و همچنین آغاز فرآیند خرید لطفا وارد سایت
    شوید.
  </div>
  <div align="end" class="p-2">
    <button mat-button class="second-color text-color-white" (click)="GoToLoginPage()" type="button">
      ورود
    </button>
  </div>
</ng-template>