.mat-mdc-card{
  border: 1px solid;
}

.btn{
  background-color: #212529;
  margin: 3px;

  .btn-delete{
    background-color: red !important;
  }
}

.card {
    max-width: 400px;
    margin: 5px;
    cursor: pointer;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-mdc-card{
    background-color: white !important;
  }